.main_box{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navigation{
  align-self: start;
  color: white;
}

.link{
  color: white;
}
