.main_oneProd_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.main_oneProd_box:hover{
  /* box-shadow: 0px 0px 37px 18px rgba(0, 0, 0, 1); */
  background-color: rgb(255, 255, 255);
}

.card_img_top{
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.oneProd_box {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.card_body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.price{
  margin-right: 30px;
  font-size: x-large;
}

.btn_delete{
  background-color: rgba(183, 60, 55, 1) !important;
  margin-bottom: 10px !important;
  width: 113px !important;
  height: 41px !important;
  margin-right: 20px !important;
}
.btn_delete:hover{
  background-color: rgb(214, 57, 52) !important;
}

.btn_pay{
  background-color: rgba(25, 25, 25, 1) !important;
  margin-bottom: 10px !important;
  width: 113px !important;
  height: 41px !important;
  margin-right: 20px !important;
}

.btn_pay:hover{
  background-color: rgb(52, 214, 82) !important;
}
