.main_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
