.main_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navigation{
  align-self: start;
  color: rgba(114, 114, 114, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
}

.link{
  color: rgba(114, 114, 114, 1);
  margin-left: 5px;
  margin-right: 5px;
}
.link:hover{
  color: rgb(190, 190, 190);
}
