.userInfo {
  display: flex;
  align-items: center;
  margin-right: 76px !important;
}
.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo_header{
  margin-left: 76px !important;
  display: flex;
  float: left;
}

