.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
 
}


.marvel {

  font-size: 70pt;
  font-weight:bold;
  line-height: 0.5;
  padding-top: 30px



 }

.harry {
  line-height: 0.5;
  font-size: 70pt;
  font-weight:bold;
  
}
