.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
 
}


.marvel {
  display: flex;
  flex-direction: column;
  font-size: 70pt;
  justify-content: space-between;
  font-weight:bold;



 }

.harry {
  display: flex;
  flex-direction: column;
  font-size: 70pt;
  font-weight:bold;
  align-items: center; 
}
