.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.containerImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .container div {
  margin-top: 105px
} */
.marvel {
  display: flex;
  flex-direction: column;
  font-size: 90pt;


align-items: center;
 }
